@model List<UserViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Employees</h1>
</div>
<p hidden>This area should contain a list of employees. Initially, the user should see only name and surname of the employees.
After clicking on the row, the user should see employee's phone number, login and timestamps of last ten log in attempts.</p>
<p hidden>Data should be requested from back-end (mocked data is OK).</p>

<div class="col-lg-12">
    <table class="table" id="table">
        <thead>
            <th scope="col">Name</th>
            <th scope="col">Surname</th>
        </thead>
        <tbody>
        @for(var i = 0; i < Model.Count; i++)
            {   
                <tr>
                    <td hidden>@Model[i].Id</td>
                    <td>@Model[i].Name</td>
                    <td>@Model[i].Surname</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
function addRowHandlers() {
  var table = document.getElementById("table");
  var rows = table.getElementsByTagName("tr");
  for (i = 0; i < rows.length; i++) {
    var currentRow = table.rows[i];
    var createClickHandler = function(row) {
      return function() {
        var cell = row.getElementsByTagName("td")[0];
        var id = cell.innerHTML;
        window.location.href = "https://localhost:5001/Home/UserInfo/" + id;
      };
    };
    currentRow.onclick = createClickHandler(currentRow);
  }
}
window.onload = addRowHandlers();
</script>